/* nejsme vcerejsi, pouzivame moderni box model */

html {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}


/* -------------------------------------------------- */


/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */


/* ----- DOLE BUDE TVOJE CSS ----- */


/* ------------------------------- */

.burger {
    padding: 0.5rem;
    min-height: 200px;
    background-color: rgb(68, 4, 13);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/carne/images/burger.jpg") center center;
    background-size: 450px auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
}

h1 {
    color: white;
    box-align: center;
    font-size: 1.75rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 5px black;
}

div.h3 {
    min-width: 340px;
    display: inline-flex;
    justify-content: space-between;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    ;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color: white;
    box-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 5px black;
}

.recept2 {
    padding: 0.5rem;
    min-height: 90px;
    background-color: rgb(68, 4, 13);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/carne/images/sushi.jpg") center center;
    background-size: 450px auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid white;
}

.recept3 {
    padding: 0.5rem;
    min-height: 90px;
    background-color: rgb(68, 4, 13);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/carne/images/rajcata.jpg") center center;
    background-size: 450px auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid white;
}

.recept4 {
    padding: 0.5rem;
    min-height: 90px;
    background-color: rgb(68, 4, 13);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/carne/images/kure.jpg") center center;
    background-size: 450px auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid white;
}

.recept5 {
    padding: 0.5rem;
    min-height: 90px;
    background-color: rgb(68, 4, 13);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/carne/images/grilovani.jpg") center center;
    background-size: 450px auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 2px solid white;
}